<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.juliocesar.diseologin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".EditUsuario"
            android:label="@string/title_activity_edit_blog"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".AddUsuario"
            android:label="@string/title_activity_add_blog"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Eficiencia" />
        <activity android:name=".MenuUsuario" />
        <activity android:name=".MenuEvaluador" />
        <activity android:name=".ListarAplicaciones" />
        <activity android:name=".VerReporte" />
        <activity android:name=".AsignarReportes" />
        <activity android:name=".CrudUsuario" />
        <activity android:name=".CrudEvaluador" />
        <activity android:name=".MenuAdmin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddEvaluador"/>
        <activity android:name=".EditEvaluador"/>
        <activity android:name=".Login" />
        <activity android:name=".SignUp" />
    </application>

</manifest>